<h1>Example#credentialed_request</h1>
<p>Find me in app/views/example/credentialed_request.html.erb</p>

<script type="text/javascript">
    //<![CDATA[
    
    var invocation = new XMLHttpRequest();
    var url = 'http://localhost:3000/resources/access_control_with_credential';
    var invocationHistoryText;

    
    function callOtherDomain(){
        if(invocation)
        {
            invocation.open('GET', url, true);
            invocation.withCredentials = "true";
            invocation.onreadystatechange = handler;
            invocation.send(); 
        }
        else
        {
            invocationHistoryText = "Whoops -- Sorry.  No Invocation TookPlace At All or Errors Took Place";
            var textNode = document.createTextNode(invocationHistoryText);
            var textDiv = document.getElementById("textDiv");
            textDiv.appendChild(textNode);
        }
        
    }
    function handler(evtXHR)
    {
        if (invocation.readyState == 4)
        {
                if (invocation.status == 200)
                {
                    var response = invocation.responseText;
                    invocationHistoryText = document.createTextNode(response);
                    var textDiv = document.getElementById("textDiv");
                    textDiv.appendChild(invocationHistoryText);
                    
                }
                else
                    alert("Invocation Errors Occured" + invocation.readyState);
        }
        else
        {
            console.log("currently the application is at" + invocation.readyState);
        }
    }
    //]]>
    
    
</script>

<form id="controlsToInvoke" action="">
    <p>
    <input type="button" value="Click to Invoke Another Site" onclick="callOtherDomain()" />
    </p>    
</form>

<div id="textDiv" />
